* { margin: 0; padding: 0; }
        .Timg { height: 50px; width: 100%; }
        .Bimg { height: 100px; width: 100px; float:letf; margin-left: 100px;}
        .Bp { margin-left: 100px; text-align: center;}

#header {
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    background: #1D4088;
    color: white;
}

#wrap { 
    overflow: hidden; 
    padding-right: 200px; 
    background: #71B1D1; 
}

#leftBar { 
    float: left;
    width: 200px;
}

#content_wrap {
    float: left;
    width: 100%;
    *width: 99.9%;
    margin-right: -200px;
}

#content {
    background: white;
    border-left: 1px solid black;
}

body { min-width: 720px; }

ul li a {
    display: block;
    height:40px; line-height: 40px;
    padding-left: 15px;

    border-top: 1px solid #96D6F6;
    border-bottom: 1px solid #6298B2;
    color: white;
    font-weight: bold;
}



article { padding: 10px; }